asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-qr-code
django-recaptcha
idna
oauthlib
pdfkit
pycparser
PyJWT
PyMySQL
python3-openid
pytz
PyYAML
requests
requests-oauthlib
segno
semantic-version
setuptools-rust
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
urllib3
