<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <!-- Meta tags Obrigatórias -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- FONTAWESOME -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>        
        <!-- CUSTOM CSS -->
        <link href="{% static 'css/style_header.css' %}" rel="stylesheet" type="text/css">        
        {% block css %}        
        {% endblock %}        
        <title>{% block title %}Turismo Nova Friburgo{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% block head %}
        {% endblock %}
        <script language="JavaScript">
            {% if messages %}
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            {% endif %}        
        </script>
    </head>
    <body class="body">            
        <div class="container-fluid h-100">            
            <div id="header" class="row no-print">
                <div class="col">
                    <div id="logo">
                        <a href="{% url 'senhas:inicio' %}">
                            <img src="{% static 'images/logo.png' %}"  alt="Logo Pmnf" title="Logo Pmnf"/>
                        </a>
                    </div>                    
                    <div id="nav" class="my-auto d-flex">
                        <a href="{% url 'senhas:inicio' %}" class="btn" role="button"><i class="fas fa-home mr-2"></i>Página Inicial</a>
                        <a href="{% url 'senhas:cad_transporte' %}" class="btn" role="button"><i class="fad fa-bus-alt mr-2"></i>Minhas Viagens </a>
                        {% if user.username %}
                            <button class="btn d-flex" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <h6 class="text-bold my-auto">Olá,<b> {{ user.first_name }}</b>!</h6>
                                <span class="dropdown-toggle ml-3"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if request.user.is_staff %}<a class="dropdown-item marcar" href="/admin"><i class="fas fa-tools mr-3"></i>Administração</a>{% endif %}                                
                                {% if request.user.is_staff %}<a class="dropdown-item marcar" href="/kpi"><i class="fas fa-chart-pie mr-3"></i>Indicadores</a>{% endif %}                                
                                <a class="dropdown-item marcar" href="{% url 'contas:cadastro' %}"><i class="fas fa-users-cog mr-2"></i> Meu cadastro</a>
                                <a class="dropdown-item marcar" href="{% url 'contas:change_password' %}"><i class="fas fa-key mr-3"></i>Alterar senha</a>                                
                                <a class="dropdown-item marcar" href="{% url 'contas:sair' %}"><i class="fas fa-sign-out-alt mr-3"></i> Logout</a>
                                <span class="dropdown-item text-danger" id="btn-reportar" onclick="openReportar()"><i class="fas fa-comment-alt-exclamation mr-3"></i>Reportar Problema</span>                                
                            </div>                                                                                                                 
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="dreportar">
                <div id="report">
                    <form>
                        <div class="form-group">
                            <h4 class="text-uppercase">Reportar Problema</h4>
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlInput1">Informe onde ocorreu:</label>
                          <input type="text" class="form-control" id="report_local">
                        </div>                    
                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Detalhe o que ocorreu:</label>
                          <textarea class="form-control" id="report_detalhe" rows="3"></textarea>
                        </div>
                        <button type="button" onclick="reportar()" class="btn btn-danger">Enviar</button>
                        <button type="button" onclick="closeReportar()" class="btn btn-warning">Cancelar</button>
                      </form>
                </div>
            </div>
            {% block cab %}{% endblock %}
            
        </div>
        
    </body>
    <script>        
        
        function openReportar(){
            document.getElementById('dreportar').style.display='flex'            
        }
        function closeReportar(){
            document.getElementById('dreportar').style.display='none'            
        }   
        function reportar(){
            local=document.getElementById('report_local').value
            detalhe=document.getElementById('report_detalhe').value
            if (local!='' && detalhe!=''){
                $.ajax({ 
                            type: "POST",
                            url: '/report/',
                            data: {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'local':local,
                                'detalhe': detalhe,
                            },
                            success: function(data) {                               
                                // $("#id_cidade").html(data);
                                closeReportar()
                                alert(data)
                            },
                            fail: function(data) {                               
                                // $("#id_cidade").html(data);
                                alert('Falha ao enviar seu feedback!')
                            }
                        });
 
                
            }else{
                console.log('preencha os campos')
            }
        }        
    </script>
    <style>
        #nav .btn:focus{
            box-shadow: none;
            background-color: rgba(128, 128, 128, 0.253);
            
        }
    </style>
</html>