{% load static %}
    <div class="mobile row w-100 mx-auto">        
        <div id="menu-cadastro" class="col">
            <div class="row">
                <div  id="titulo-menu" class="col">
                    <h2 class="display-7">CADASTRAR VIAGEM</h2>
                </div>
            </div>
            <div class="row">
                <div id="card-turismo" class="col card" onclick="location.href = '{% url 'senhas:viagem_inclui' tipo='turismo' %}'">
                    <div class="context">
                        <div>GRUPO PARA<br> TURISMO E COMPRAS</div>
                    </div>
                </div>   
                <div id="card-compra" class="col card" onclick="location.href = '{% url 'senhas:viagem_inclui' tipo='compra' %}'">
                    <div class="context">
                        <div>GRUPO PARA<br> EXCLUSIVAMENTE COMPRAS</div>
                    </div>
                </div>     
            </div>
        </div>            
    </div>
    <div class="mobile row w-100 mx-auto">
    <div class="col">
        <div class="row">
            <div class="titulo-outra-opcoes col">
                <h2>SUBMENU</h2>
            </div>
        </div>
        <div class="row">
            <div class="submenu lateral col">
                <div class="row teste">
                    <div id="conheca" class="col">
                        <a href="https://www.pmnf.rj.gov.br/turismo/conheca-nova-friburgo" target="_blank">
                            <span>
                                Conheça</br>Nova Friburgo
                            </span>
                        </a>
                    </div>
                    <div id="roteiros" class="col">
                        <a href="https://www.pmnf.rj.gov.br/turismo/roteiros" target="_blank">
                            <span>
                                Roteiros <br>de passeios 
                            </span>       
                        </a>                   
                    </div>

                </div>
                <div class="row teste">
                    <div id="folder" class="col">
                        <a href="https://novafriburgo.rj.gov.br/uploads/pagina/arquivos/FolderTURISMO-NOVA-FRIBURGO.pdf" target="_blank">
                            <span>
                                Folder <br>de Turismo
                            </span>
                        </a>
                    </div>
                    <div id="guia" class="col">
                        <!-- <a href="{% url 'guias:guias' %}"> -->
                            <a target="_blank" href="https://novafriburgo.rj.gov.br/uploads/pagina/arquivos/GUIAS-DE-TURISMO-RECEPTIVO-NOVA-FRIBURGO.pdf">
                            <span>
                                Guias de<br>Turismo
                            </span>
                        </a>
                    </div>
                    <div id="mapa" class="col">
                        <a href="{% url 'guias:mapa_turistico' %}">   
                            <span>
                                Mapa <br>Turístico
                            </span> 
                        </a>
                    </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row show pt-4 w-100">
    <div id="contato" class="col mt-3 px-5">
        <h1 class="hidden">Contato</h1>
        <ul>
            <li><b>Centro de Informações Turísticas</b></li>
            <li>Email: <a href="mailto:catcentronf@gmail.com">catcentronf@gmail.com</a></li>
            <li>Telefone:<a href="tel:552225228051"> +(55) (22) 2543-6307</a></li>               
            <li class="mt-3"><b>Secretaria de Turismo</b></li>
            <li>Email: <a href="mailto:secturnf@gmail.com">secturnf@gmail.com</a></li>
            <li>Telefone:<a href="tel:552225228051"> +(55) (22) 2522-8051</a></li>
        </ul>
    </div>
    </div>
    <div class="row show w-100 mt-5">
    <div class="col rede-social pb-4 pl-5">
        <a href="https://www.facebook.com/SecturNf" target="_blank">
            <img src="{% static 'images/facebook.png' %}" alt="">
        </a>
        <a href="https://www.instagram.com/sectur_nf/" target="_blank">
            <img src="{% static 'images/instagram.png' %}" alt="">
        </a> 
        <a id="brasao" class="rounded-circle" href="https://www.pmnf.rj.gov.br/turismo/" target="_blank">
            <img id="brasao-img" class="rounded-circle" src="{% static 'images/brasao.png' %}" alt="">
        </a>                   
    </div>                               
    </div>
    </div>