html, body{
    height: 100%;
    background-image: url(../images/bg-login-old.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-fluid{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.596);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}
#header{
    display: flex;
    margin: auto auto 1px auto;
    background-color: #ffffff;
    border-radius: 10px 10px 0px 0px;
    padding: 20px 0px;
    width: 600px;
}
#header .col{
    display: flex;
}
#header img{
    width: auto;
    height: auto
    margin: auto;
}

#login-screen{
    margin: 0px auto auto auto;  
}
#login-screen{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    width: 600px;
    padding: 50px 150px;
}

#login-screen img{ 
    margin-bottom: 30px;
}

#login-screen h2{ 
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
#login-screen form{ 
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}
#login-screen form table tr{
    display: flex;
    flex-direction: column;
}
#login-screen form table tr label{
    font-size: 10pt;
    font-weight: 400;
    margin-bottom: 0px;
}
#login-screen form table tr td ul{
    margin: 0;
    padding: 0;
    background-color: rgb(245, 163, 163);
    font-size: 10pt;
    border-radius: 5px;
}
#login-screen form table tr td ul li{
    list-style: none;
    padding: 10px;
    text-align: justify;
    line-height: 11pt;
    margin-bottom: 10px;    
}

#login-screen form table tr td, input{
    width: 100%;
    height: 35px;
    background-color: white !important;
    box-shadow: none;
}
#login-screen form table tr td input:focus{
    width: 100%;
    height: 35px;
    background-color: white !important;
    color: -internal-light-dark(rgb(255, 255, 255), white) !important;
}
#login-screen form button{
    margin: 10px auto;
    width: 100%;
    background-color: #3B3B3B;
    border-color: #3B3B3B;;
    color: white;
} 
#login-screen a{
    font-size: 10pt;
}

@media (max-width: 620px){
    body, html{
        min-width: 283px;
    }
    #header{
        width: 90%;
    }
    #login-screen{
        width: 90%;
        padding: 50px 20%;
    }
}