{% extends "template.html" %}
{% load static %}
{% block head %}
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  
  google.charts.load('current', {packages: ['corechart', 'bar', 'line']});
  {% include 'kpis/elements/viagens_registradas_totais.js' %}
  

</script>
{% endblock %}
{% block cab %}
<section class="w-100 h-100 pb-4">
    <div class="w-100 p-4 d-flex justify-content-evenly align-content-around  flex-wrap ">        
        <div class="kpi text-center border rounded">
            <div class="kpi-title rounded">
                <span class="px-5">VIAGENS REGISTRADAS</span>            
            </div>
            <div class="d-flex flex-column">                
                <form class="mx-auto py-3" method="POST">   
                    <div class="d-flex">
                        <div class="mx-auto pt-4">
                        </div>
                        <div class="d-flex">
                            {% csrf_token %}                 
                            <div>
                                <label for="">Data inicial de inclusão:</label>
                                <input class="form-control" type="date" name="dt_inclusao" id="">
                            </div>
                            <div class="ml-4">
                                <label for="">Data final de inclusão:</label>
                                <input class="form-control" type="date" name="dt_inclusao_f" id="">
                            </div>
                        </div>
                        <div class="d-flex ml-5">
                            <div>
                                <label for="">Data inicial de Chegada:</label>
                                <input class="form-control" type="date" name="dt_chegada" id="">
                            </div>
                            <div class="ml-4">
                                <label for="">Data final de Chegada:</label>
                                <input class="form-control" type="date" name="dt_chegada_f" id="">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark w-100 mt-4">
                    Filtrar
                    </button>                   
                </form>
            </div>
            {% if filtro %}
            <h1 class="mr-auto">Filtrando por Data de <span class="text-capitalize">{{filtrado_por}}</span></h1>
            {% endif %}
            <div class="w-100 d-flex pb-5 flex-wrap">
                
                <div class="col pt-4 d-flex flex-column">
                    {% if filtro %}                                        
                    <h4>De <b>{{dt_inicial}}</b> até <b>{{dt_final}}</b> <br>Há no total <b>{{total_viagens}}</b> viagens registradas:</h4>
                    {% else %}
                    <h4>Total de {{total_viagens}} viagens registradas:</h4>
                    {% endif %}                    
                    <div id="chart_div_viagens" class="mx-auto"></div> 
                </div>                    
            </div>            
            {% if filtro %}
            <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th></th>
                    <th scope="col">#Senha</th>
                    <th scope="col">Data Inclusão</th>
                    <th scope="col">Data Chegada</th>
                    <th scope="col">Data Saída</th>
                    <th scope="col">Veículo</th>
                    <th scope="col">Guia</th>                    
                    <th>Cidade Origem</th>
                    <th scope="col">Passageiros</th>
                    <th>Pernoite</th>
                    

                  </tr>
                </thead>
                <tbody>
                {% for v in viagens %}                 
                <tr style="border: 1px solid rgb(168, 168, 168);">
                    <td style="border: 1px solid rgb(168, 168, 168);" class="bg-light"><a href="{% url 'senhas:fiscalizar_viagem' v.senha  %}" target="_blank" class="mx-auto text-dark w-100 h-100"><i class="far fa-eye mx-auto"></i></a></td>
                    <th style="border: 1px solid rgb(168, 168, 168);" scope="row">{{v.senha}}</th>
                    <td style="border: 1px solid rgb(168, 168, 168);">{{v.dt_inclusao|date:'d/m/Y'}}</td>
                    <td style="border: 1px solid rgb(168, 168, 168);">{{v.dt_Chegada|date:'d/m/Y'}}</td>
                    <td style="border: 1px solid rgb(168, 168, 168);">{{v.dt_Saida|date:'d/m/Y'}}</td>
                    <td style="border: 1px solid rgb(168, 168, 168);">{{v.tipo_veiculo}}</td>
                    {% if v.senha.0 == 'C' %}
                    <td style="border: 1px solid rgb(168, 168, 168);"></td>                                    
                    {% else %}
                    {% for t in viagem_turismo %}
                    {% if t.viagem.senha == v.senha %}
                    <td style=" text-transform: capitalize; border: 1px solid rgb(168, 168, 168);">{{t.nome_guia}}</td>                                    
                    {% endif %}                    
                    {% endfor %}                    
                    {% endif %}
                    <td style="border: 1px solid rgb(168, 168, 168);">{{v.cidade_origem.nome}} - {{v.cidade_origem.estado.uf}}</td>                    
                    <td style="border: 1px solid rgb(168, 168, 168);">{{v.quant_passageiros}}</td>                                        
                    {% if v.dt_Chegada != v.dt_Saida %}<td style="border: 1px solid rgb(168, 168, 168); background-color: rgb(213, 233, 255);">Sim</td>{% else %}<td style="border: 1px solid rgb(168, 168, 168); background-color: rgb(255, 213, 213);">Não</td>{% endif %}
                    
                  </tr> 
                {% endfor %}
                <tr style="border: 1px solid rgb(168, 168, 168);">
                    <td style="border: 1px solid white;" class="bg-light"></td>
                    <th style="border: 1px solid white;" scope="row"></th>
                    <td style="border: 1px solid white;"></td>
                    <td style="border: 1px solid white;"></td>
                    <td style="border: 1px solid white;"></td>
                    <td style="border: 1px solid white;"></td>
                    <td style="border: 1px solid white; border-right: 1px solid rgb(168, 168, 168);"></td>
                    <td style="color: white; border: 1px solid rgb(168, 168, 168); background-color: #343A40; border-right-color: #343A40;">Total:</td>
                    <td style="color: white; border: 1px solid rgb(168, 168, 168); background-color: #343A40;">{{soma}}</td>
                    <td style=" border: 1px solid white;"></td>
                  </tr> 
                </tbody>
              </table>
            {% endif %}
        </div>                
    </div>    
</section>
<style>

    .kpi{
        margin: auto;
        margin-bottom: 20px;
        height: 100%;
        width: 100%;
    }
    .kpi-title{
        display: flex;
        flex-wrap: wrap;
        color: white;
        vertical-align: center;
        background-color: rgb(29, 28, 28) !important;
        border: 1px solid black;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        box-shadow: 2px 4px 4px rgba(51, 50, 50, 0.123);   
        text-align: center;           
    }
    .kpi-title span{        
        margin: auto;
        padding: 15px 0;
    }
    .border{        
        border-color: rgba(0, 0, 0, 0.096) !important;
        border-right-color: rgba(65, 64, 64, 0.151) !important;                
        border-left-color: rgba(80, 79, 79, 0.13) !important;  
        box-shadow: 2px 4px 4px rgba(51, 50, 50, 0.123);              
    }
           

</style>
{% endblock %}