{% extends "cab.html" %}

{% load static %}

{% block cab %}
<br>
<div class="container">

    <div class="row">
        <div class="col">
            <h3>Viagens:</h3>
        </div>

        <div class="col text-right">
            <a href="{% url 'senhas:viagem_inclui' %}" class="btn btn-primary" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
                Inclusão
            </a>
        </div>

    </div>

    <table  class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>#</th>
                <th>Dt. Chegada</th>
                <th>Dt. Saída</th>
                <th>Veículo</th>
                <th>Dt. Inclusão</th>
            </tr>
        </thead>

        <tbody>

            {% for v in viagens %}
                <tr>
                    <td><a href="{% url 'senhas:viagem' v.id %}">{{ forloop.counter }}</a></td>
                    <td>{{ v.dt_Chegada | date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ v.dt_Saida | date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ v.tipo_veiculo }}</td>
                    <td>{{ v.dt_inclusao | date:"SHORT_DATETIME_FORMAT" }}</td>
                </tr>
            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}