{% load template_filters %}

{% load static %}

<style type="text/css">
    .watermark {
        width: 800px;
        height: 800px;
        display: block;
        position: relative;
      }
      
      .watermark::after {
        content: "";
       background:url({% static "marcadagua.jpg" %});
        opacity: 1.0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
      }
</style>

<img src="{% static 'logo_turismo.png' %}"  alt="Logo Turismo" title="Logo Pmnf" width="800" style="margin:28px 0 0 23px;position: relative;left: 10px;"/>
<br>
<div class="container">
    <div class="watermark">

    <div class="row">
        <div class="col">
            <h3 class="text-center">SENHA DE ACESSO:</h3>
        </div>
        <h1>{{ viagem.id }}/{% now "y" %}NF</h1>
    </div>

    <table  class="table table-striped table-bordered">

        <tr>
            <th>Data de entrada:</th>
            <th>Data de saída:</th>
        </tr>
            <td>{{ viagem.dt_Chegada | date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ viagem.dt_Saida | date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
        <tr>
            <th>Veículo</th>
            <td>{{ viagem.tipo_veiculo }}</td>
        </tr>
        <tr>
            <th>Quant. Passageiros</th>
            <td>{{ viagem.quant_passageiros }}</td>
        </tr>
        <tr>
            <th>Empresa de Transporte</th>
            <td>{{ viagem.empresa_transporte }}</td>
        </tr>
        <tr>
            <th>CNPJ da Empresa de Transporte</th>
            <td>{{ viagem.cnpj_empresa_transporte | formata_cnpj }}</td>
        </tr>
        <tr>
            <th>Cadastur da Empresa de Transporte</th>
            <td>{{ viagem.cadastur_empresa_transporte }}</td>
        </tr>

        <!-- Viatem/Turismo -->

        {% if viagem_turismo %}

        <tr>
            <th>Nome do Guia:</th>
            <td>{{ viagem_turismo.nome_guia }}</td>
        </tr>
        <tr>
            <th>Cadastur do Guia:</th>
            <td>{{ viagem_turismo.cadastur_guia }}</td>
        </tr>
        <tr>
            <th>Celular do Guia:</th>
            <td>{{ viagem_turismo.celular }}</td>
        </tr>
        <tr>
            <th>Telefone do Guia:</th>
            <td>{{ viagem_turismo.telefone }}</td>
        </tr>
        <tr>
            <th>Pontos Turísticos:</th>
            <td>{{ viagem_turismo.pontos_turisticos }}</td>
        </tr>

        {% endif %}

    </table>

    <img src="/static/assinatura.png"  alt="Logo Turismo" title="Logo Pmnf" width="200" style="margin:28px 0 0 23px;position: relative;left: 10px;"/>
</div>

</div>

<SCRIPT LANGUAGE="JavaScript">
    window.print();
    setTimeout(function(){
        window.close();
    },2000);
</SCRIPT>