{% extends "template.html" %}

{% load template_filters %}

{% load static %}

{% block cab %}
<br>
<div class="container">

    <div class="row hidden">
        <div class="col">
            <h3>{{viagem.senha}} - Detalhes da Viagem:</h3>
        </div>
        
        <div class="col text-right">
            {% if viagem.user == request.user %}
            <a href="{% url 'senhas:cad_transporte' %}" class="btn btn-primary" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                Voltar
            </a>
            {% endif %}
            {% if viagem.user == request.user %}
                {% if viagem.senha.0 == 'P' %}
                <a href="{% url 'senhas:caledonia_editar' viagem.senha %}" class="btn btn-primary" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    Alterar
                </a> 
                {% else %}
                <a href="{% url 'senhas:viagem_compras_editar' viagem.senha %}" class="btn btn-primary" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    Alterar
                </a> 
                {% endif %}           
            {% endif %}           
            {% if viagem.user == request.user %}
            <a href="{% url 'senhas:gera_senha' viagem.senha %}" class="btn btn-primary" role="button" target="_blank">
                <i class="fal fa-print"></i> Documento
            </a>
            {% endif %}
            {% if viagem.user == request.user %}
            <a href="{% url 'senhas:excluir_senha' viagem.senha %}" class="btn btn-danger" role="button">
                <i class="far fa-trash"></i> Excluir
            </a>
            {% endif %}
        </div>         

    </div>
    {% include 'senhas/for_mobile/viagem.html' %}
    <table  class="table table-striped table-bordered">

        <tr>
            <th>Dt. Chegada</th>
            <td>{{ viagem.dt_Chegada | date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
        <tr>
            <th>Dt. Saída</th>
            <td>{{ viagem.dt_Saida | date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
        <!-- <tr>
            <th>Ficarão Hospedados?</th>
            <td>{% if viagem.ficarao_hospedados %}Sim{% else %}Não{% endif %}</td>
        </tr> -->
        {% if viagem.ficarao_hospedados %}
            <tr>
                <th>Hotel</th>
                <td>{{ viagem.hotel }}</td>
            </tr>
        {% endif %}
        <!-- <tr>
            <th>Fizeram reserva em restaurante?</th>
            <td>{% if viagem.restaurante_reservado %}Sim{% else %}Não{% endif %}</td>
        </tr> -->
        {% if viagem.restaurante_reservado %}
            <tr>
                <th>Restaurante</th>
                <td>{{ viagem.restaurante }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Veículo</th>
            <td>{{ viagem.tipo_veiculo }}</td>
        </tr>
        <tr>
            <th>Quant. Passageiros</th>
            <td>{{ viagem.quant_passageiros }}</td>
        </tr>
        <tr>
            <th>Empresa de Transporte</th>
            <td>{{ viagem.empresa_transporte }}</td>
        </tr>
        <tr>
            <th>CNPJ da Empresa de Transporte</th>
            <td>{{ viagem.cnpj_empresa_transporte | formata_cnpj }}</td>
        </tr>
        <tr>
            <th>Cadastur da Empresa de Transporte</th>
            <td>{{ viagem.cadastur_empresa_transporte }}</td>
        </tr>
        <tr>
            <th>Obs.:</th>
            <td>{{ viagem.obs }}</td>
        </tr>
        <tr>
            <th>Dt. Inclusão</th>
            <td>{{ viagem.dt_inclusao | date:"SHORT_DATETIME_FORMAT" }}</td>
        </tr>

        <!-- Viatem/Turismo -->

        {% if viagem_turismo %}

        <tr>
            <th>Nome do Guia:</th>
            <td>{{ viagem_turismo.nome_guia }}</td>
        </tr>
        <tr>
            <th>Cadastur do Guia:</th>
            <td>{{ viagem_turismo.cadastur_guia }}</td>
        </tr>
        <tr>
            <th>Celular do Guia:</th>
            <td>{{ viagem_turismo.celular }}</td>
        </tr>
        <tr>
            <th>Telefone do Guia:</th>
            <td>{{ viagem_turismo.telefone }}</td>
        </tr>
        {% if viagem_turismo.outros == 'Pico da Caledônia' %}
        <tr>
            <th>Pontos Turísticos:</th>
            <td>
                Pico da Caledônia
            </td>
        </tr>        
        {% else %}
        <tr>
            <th>Pontos Turísticos:</th>
            <td>
                {%for ponto_turistico in pontos_turisticos %}
                {{ ponto_turistico }}{% if  forloop.last %}{%else%}, {% endif %}
                {% endfor %}
            </td>
        </tr>        
        {% endif %}
        {% endif %}

    </table>

    <!-- <div class="row">

        <div class="col">
            <a href="{% url 'senhas:gera_senha' viagem.id %}" class="btn btn-primary" role="button" target="_blank">
                Gera Senha
            </a>
        </div>

        <div class="col text-right">
            <a href="{% url 'senhas:cad_transporte' %}" class="btn btn-primary" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                Volta
            </a>
        </div>
    </div> -->

</div>

{% endblock %}