<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <!-- Meta tags Obrigatórias -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- FONTAWESOME -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <!-- CUSTOM CSS -->
        <link href="{% static 'css/style_header.css' %}" rel="stylesheet" type="text/css">          
        <title>Turismo Nova Friburgo</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <SCRIPT LANGUAGE="JavaScript">
        {% if messages %}
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        {% endif %}
    </script>

    <body>
        <div class="container-fluid h-100">
            <div id="header" class="row">
                    <div class="col">
                        <div id="logo">
                            <a href="/">
                                <img src="/static/images/logo.png"  alt="Logo Pmnf" title="Logo Pmnf"/>
                            </a>
                        </div>
                        <div id="nav" class="my-auto d-flex">                            
                            <!-- <a href="{% url 'senhas:inicio' %}" class="btn" role="button"><i class="fas fa-home mr-2"></i>Página Inicial</a> -->
                            {% if user.username %}                                                                   
                                            <button class="btn d-flex" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <h6 class="text-bold my-auto">Olá,<b> {{ user.first_name }}</b>!</h6>
                                                <span class="dropdown-toggle ml-3"></span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="/contas/cadastro"><i class="fas fa-users-cog"></i> Meu cadastro</a>
                                                <a class="dropdown-item" href="/contas/change_password"><i class="fas fa-key"></i> Alterar senha</a>
                                                <a class="dropdown-item" href="{% url 'contas:sair' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                            </div>                                                                                                                 
                            {% endif %}
                        </div>                        
                    <!-- <div class="col-7">
                        <h3>Secretaria Municipal de Turismo e Marketing</h3>
                        <h3>Secretaria Municipal de Ciência, Tecnologia,<br>Inovação e Educação Profissionalizante e Superior</h3>
                    </div> -->
                </div>                
            </div>            
            <div id="main" class="row w-100">
                <div class="container mt-5 pt-5">

                    <div class="row">
                        <div class="col">
                            <h3 class="uppercase">CADASTRAR NOVA VIAGEM</h3>
                        </div>
                
                        <div class="col text-right">
                            <a href="{% url 'senhas:cad_transporte' %}" class="btn btn-primary" role="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 mr-1 bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                </svg>
                                VOLTAR
                            </a>
                        </div>
                
                    </div>
                
                
                    <form method="POST" class="bg-light mb-5 py-5 rounded border" id="formulario" data-cidades-url="{% url 'contas:ajax_load_cidades' %}" novalidate>
                        {% csrf_token %}                        
                                
                                <div class="form-row mt-4 justify-content-center px-3 py-3">
                                    <div class="form-group col-md-3 mr-5 d-flex flex-column">
                                        <label for="id_dt_Chegada_day" class="w-auto mr-5 my-auto">Dt chegada:</label>
                                        <div class="d-flex">
                                            <select class="form-control w-auto mr-1" name="dt_Chegada_day" id="id_dt_Chegada_day">
                                                <option value="" selected>---</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                            </select>           
                                            <select class="form-control w-auto mr-1" name="dt_Chegada_month" id="id_dt_Chegada_month">
                                                <option value="" selected>---</option>
                                                <option value="1">Janeiro</option>
                                                <option value="2">Fevereiro</option>
                                                <option value="3">Março</option>
                                                <option value="4">Abril</option>
                                                <option value="5">Maio</option>
                                                <option value="6">Junho</option>
                                                <option value="7">Julho</option>
                                                <option value="8">Agosto</option>
                                                <option value="9">Setembro</option>
                                                <option value="10">Outubro</option>
                                                <option value="11">Novembro</option>
                                                <option value="12">Dezembro</option>
                                            </select>                                    
                                            <select class="form-control w-auto" name="dt_Chegada_year" id="id_dt_Chegada_year">
                                                <option value="" selected>---</option>                                        
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                                <option value="2024">2024</option>
                                                <option value="2025">2025</option>
                                                <option value="2026">2026</option>
                                                <option value="2027">2027</option>
                                                <option value="2028">2028</option>
                                                <option value="2029">2029</option>
                                            </select>
                                        </div>
                                    </div>                                                            
                                    <div class="form-group col-md-3 mr-5 d-flex flex-column">
                                        <label for="id_dt_Saida_day" class="my-auto mr-5">Dt saida:</label>
                                        <div class="d-flex">
                                            <select class="form-control w-auto mr-1" name="dt_Saida_day" id="id_dt_Saida_day">
                                                <option value="" selected>---</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                            </select>
                                            <select class="form-control w-auto mr-1" name="dt_Saida_month" id="id_dt_Saida_month">
                                                <option value="" selected>---</option>
                                                <option value="1">Janeiro</option>
                                                <option value="2">Fevereiro</option>
                                                <option value="3">Março</option>
                                                <option value="4">Abril</option>
                                                <option value="5">Maio</option>
                                                <option value="6">Junho</option>
                                                <option value="7">Julho</option>
                                                <option value="8">Agosto</option>
                                                <option value="9">Setembro</option>
                                                <option value="10">Outubro</option>
                                                <option value="11">Novembro</option>
                                                <option value="12">Dezembro</option>
                                            </select>
                                            <select class="form-control w-auto" name="dt_Saida_year" id="id_dt_Saida_year">
                                                <option value="" selected>---</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                                <option value="2024">2024</option>
                                                <option value="2025">2025</option>
                                                <option value="2026">2026</option>
                                                <option value="2027">2027</option>
                                                <option value="2028">2028</option>
                                                <option value="2029">2029</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 ml-5 d-flex flex-column">                        
                                        <label class="my-auto" for="id_ficarao_hospedados">Ficarão Hospedados?</label>
                                        <div class="d-flex" >
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" checked id="customSwitch1">
                                                <label class="custom-control-label" for="customSwitch1">Sim</label>                                              
                                            </div>
                                                <!-- <input type="checkbox" checked name="ficarao_hospedados" id="id_ficarao_hospedados" class="ml-4 my-auto">
                                                <span class="my-auto ml-2">Sim</span> -->
                                        </div>
                                    </div>          
                                </div>

                                <div class="form-row mt-4 justify-content-center" id="hospedar">
                                    <div class="form-group col-md-4 d-flex flex-column">                        
                                        <label for="id_hotel" class="mr-3 my-auto">Hotel:</label>
                                        <input class="form-control" type="text" name="hotel" maxlength="120" id="id_hotel">
                                    </div>
                                    <div class="form-group col-md-5 pl-5 d-flex flex-column">                        
                                        <label for="id_restaurante" class="my-auto mr-3">Restaurante:</label>
                                        <input class="form-control w-100" type="text" name="restaurante" maxlength="120" id="id_restaurante">
                                    </div>
                                </div>
                                <div class="form-row mt-4 justify-content-center py-3">
                                    <div class="form-group col-md-3 d-flex flex-column">                        
                                        <label for="id_tipo_veiculo">Tipo veiculo:</label>
                                        <select class="form-control" name="tipo_veiculo" required id="id_tipo_veiculo">
                                            <option value="" selected>---------</option>                        
                                            <option value="1">Onibus</option>                            
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2 d-flex flex-column">                        
                                        <label for="id_quant_passageiros">Quant passageiros:</label>
                                        <input class="form-control" type="number" name="quant_passageiros" min="0" required id="id_quant_passageiros">
                                    </div>
                                    <div class="form-group col-md-4 d-flex flex-column">                        
                                        <label for="id_empresa_transporte">Empresa transporte:</label>
                                        <input class="form-control" type="text" name="empresa_transporte" maxlength="120" required id="id_empresa_transporte">
                                    </div>
                                </div>
                                <div class="form-row mt-4 justify-content-center py-3">
                                    <div class="form-group col-md-3 d-flex flex-column">                        
                                        <label for="id_cnpj_empresa_transporte">CNPJ:</label>
                                            <!-- <ul class="errorlist">
                                                <li>Este campo é obrigatório.</li>
                                            </ul> -->
                                            <input class="form-control" type="text" name="cnpj_empresa_transporte" onkeydown="mascara(this,icnpj)" maxlength="18"
                                                required id="id_cnpj_empresa_transporte">
                                    </div>
                                    <div class="form-group col-md-3 d-flex flex-column">                        
                                        <label for="id_cadastur_empresa_transporte">Cadastur empresa transporte:</label>                            
                                    <!-- <ul class="errorlist">
                                        <li>Este campo é obrigatório.</li>
                                    </ul> -->
                                    <input class="form-control" type="text" name="cadastur_empresa_transporte" maxlength="14" required
                                        id="id_cadastur_empresa_transporte">
                                    </div>
                                </div>
                                <div class="form-row mt-4 justify-content-center py-3">
                                    <div class="form-group col-md-9 d-flex flex-column"> 
                                        <label for="id_obs">Observação:</label>
                                        <textarea class="form-group" name="obs" cols="40" rows="3" maxlength="2000" id="id_obs"></textarea>
                                    </div>
                                </div>      
                                <div class="form-row mt-4 justify-content-center py-3">
                                    <div class="form-group col-md-9 d-flex flex-column">                       
                                        <input class="btn btn-primary" type="submit" value="Cadastrar">
                                    </div>
                                </div>
                    </form>
                
                
                </div>
                
                
                <!--
                -->
                
                <script>
                    $('.selEstado').change(function mostracidade () {
                        var url = $("#formulario").attr("data-cidades-url");  // get the url of the `load_cities` view
                        var estadoId = $(this).val();
                            $.ajax({ 
                                url: url,
                                data: {
                                    'id':estadoId,
                                },
                                success: function(data)
                                {
                                    $("#id_cidade").html(data);
                                }
                                });
                    })
                
                </script>
                
                
                <SCRIPT LANGUAGE="JavaScript">
                
                
                    function mostracidade(){
                        var url = $("#formulario").attr("data-cidades-url");  // get the url of the `load_cities` view
                
                        var cidadeId = formulario.cidade.value;
                        var estadoId = formulario.estado.value;
                        $.ajax({ 
                            url: url,
                            data: {
                                'id':estadoId,
                            },
                            success: function(data) {
                                $("#id_cidade").html(data);
                                document.getElementById('id_cidade').value=cidadeId;
                            }
                        });
                
                    };
                
                    mostracidade();
                
                    function leech(v){
                        v=v.replace(/o/gi,"0")
                        v=v.replace(/i/gi,"1")
                        v=v.replace(/z/gi,"2")
                        v=v.replace(/e/gi,"3")
                        v=v.replace(/a/gi,"4")
                        v=v.replace(/s/gi,"5")
                        v=v.replace(/t/gi,"7")
                        return v
                    }
                
                    function open_popup(url){
                        newwindow = window.open(url,'{{title}}', 'height = 400,width = 600');
                        if(window.focus) {newwindow.focus()}
                        return false;
                    }
                
                    function data(v){
                        v=v.replace(/\D/g,"")                //Remove tudo o que nao e digito
                        v=v.replace(/(\d{2})(\d)/,"$1/$2")   //Coloca um ponto entre o terceiro e o quarto digitos
                        v=v.replace(/(\d{2})(\d)/,"$1/$2")   //Coloca um ponto entre o terceiro e o quarto digitos
                                                                //de novo (para o segundo bloco de numeros)
                        return v
                    }
                    function icpf(v){
                        v=v.replace(/\D/g,"")                    //Remove tudo o que nao e digito
                        v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
                        v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
                                                                //de novo (para o segundo bloco de numeros)
                        v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2") //Coloca um hifen entre o terceiro e o quarto digitos
                        return v
                    }
                    function itelefone(v){
                        v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
                        v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
                        v=v.replace(/(\d{4})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
                        return v
                    }
                    function icep(v){
                        v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
                        v=v.replace(/(\d{2})(\d)/,"$1.$2")    //Coloca hifen entre o quarto e o quinto digitos
                        v=v.replace(/(\d{3})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
                        return v
                    }
                    function icelular(v){
                        v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
                        v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
                        v=v.replace(/(\d{5})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
                        return v
                    }
                    function mascara(o,f){
                        v_obj=o
                        v_fun=f
                        setTimeout("execmascara()",1)
                    }
                
                    function execmascara(){
                        v_obj.value=v_fun(v_obj.value)
                    }
                
                </script>                
            </div>                   
        </div>      
        <!-- JavaScript (Opcional) -->        
    </body>
</html>