{% extends "cab.html" %}
{% load static %}
{% block cab %}    
            <div id="main" class="row w-100">
                <div class="container pt-4">
                    <div class="row d-flex">
                        <div class="col-md-5 mx-auto">
                            <h3 class="mx-auto">Alteração de Cadastro:</h3>
                        </div>
                    </div>
                    <div class="form-column mt-4 justify-content-center">                        
                        <div class="form-group col-md-5 d-flex mx-auto">                                                    
                            <label style="width: 130px;" for="id_nome">Nome:</label>
                            <input class="form-control" type="text" name="nome" value="{{nome}}" maxlength="60" required id="id_nome">
                        </div>
                        <div class="form-group col-md-5 d-flex mx-auto">    
                            <label style="width: 130px" for="id_cpf">CPF:</label>   
                            <input class="form-control" type="text" name="cpf" value="{{cpf}}" onkeydown="mascara(this,icpf)" maxlength="14" required
                                    id="id_cpf">                                            
                        </div>
                        <div class="form-group col-md-5 d-flex mx-auto">
                            <label style="width: 130px" for="id_email">Email:</label>
                            <input class="form-control" type="text" name="email" value="{{email}}" maxlength="200" required id="id_email">
                        </div>
                    </div>

                    <div class="form-column mt-4 justify-content-center">
                        <div class="form-group col-md-5 d-flex mx-auto">  
                            <label style="width: 130px" for="id_celular">Celular:</label>
                            <input class="form-control" type="text" name="celular" value="{{celular}}" onkeydown="mascara(this,icelular)" onload="mascara(this,icelular)" maxlength="15" required id="id_celular">
                        </div>
                        <div class="form-group col-md-5 d-flex mx-auto">
                            <label style="width: 130px" for="id_telefone">Telefone:</label>
                            <input class="form-control" type="text" name="telefone" value="{{telefone}}" onkeydown="mascara(this,itelefone)" onload="mascara(this,itelefone)" maxlength="14" id="id_telefone">
                        </div>
                        <div class="form-group col-md-5 d-flex mx-auto">
                            <label style="width: 130px" for="id_estado">Estado:</label>
                            <select class="form-control" name="estado" class="selEstado" required id="id_estado">
                                <option value="{{estado}}">{{estado}}</option>
                                </select>
                        </div>
                        <div class="form-group col-md-5 d-flex mx-auto">
                            <label style="width: 130px" for="id_cidade">Cidade:</label>
                            <select class="form-control" name="cidade" required id="id_cidade">
                                <option value="{{cidade}}" selected>{{cidade.nome}}</option>
                                </select>
                        </div>                        
                    </div>
                    <div class="row d-flex">
                        <div class="col-md-5 mx-auto d-flex">
                            <button class="btn btn-primary ml-auto">Alterar</button>
                        </div>
                    </div>
                </div>
            </div>                   
        </div>      
        <!-- JavaScript (Opcional) -->    
        <SCRIPT LANGUAGE="JavaScript">


            function mostracidade(){
                var url = $("#formulario").attr("data-cidades-url");  // get the url of the `load_cities` view
        
                var cidadeId = formulario.cidade.value;
                var estadoId = formulario.estado.value;
                $.ajax({ 
                    url: url,
                    data: {
                        'id':estadoId,
                    },
                    success: function(data) {
                        $("#id_cidade").html(data);
                        document.getElementById('id_cidade').value=cidadeId;
                    }
                });
        
            };
        
            // mostracidade();
        
            function leech(v){
                v=v.replace(/o/gi,"0")
                v=v.replace(/i/gi,"1")
                v=v.replace(/z/gi,"2")
                v=v.replace(/e/gi,"3")
                v=v.replace(/a/gi,"4")
                v=v.replace(/s/gi,"5")
                v=v.replace(/t/gi,"7")
                return v
            }
        
            function open_popup(url){
                newwindow = window.open(url,'{{title}}', 'height = 400,width = 600');
                if(window.focus) {newwindow.focus()}
                return false;
            }
        
            function data(v){
                v=v.replace(/\D/g,"")                //Remove tudo o que nao e digito
                v=v.replace(/(\d{2})(\d)/,"$1/$2")   //Coloca um ponto entre o terceiro e o quarto digitos
                v=v.replace(/(\d{2})(\d)/,"$1/$2")   //Coloca um ponto entre o terceiro e o quarto digitos
                                                        //de novo (para o segundo bloco de numeros)
                return v
            }
            function icpf(v){
                v=v.replace(/\D/g,"")                    //Remove tudo o que nao e digito
                v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
                v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
                                                        //de novo (para o segundo bloco de numeros)
                v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2") //Coloca um hifen entre o terceiro e o quarto digitos
                return v
            }
            function itelefone(v){
                v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
                v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
                v=v.replace(/(\d{4})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
                return v
            }
            function icep(v){
                v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
                v=v.replace(/(\d{2})(\d)/,"$1.$2")    //Coloca hifen entre o quarto e o quinto digitos
                v=v.replace(/(\d{3})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
                return v
            }
            function icelular(v){
                v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
                v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
                v=v.replace(/(\d{5})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
                return v
            }
            function mascara(o,f){
                v_obj=o
                v_fun=f
                setTimeout("execmascara()",1)
            }
        
            function execmascara(){
                v_obj.value=v_fun(v_obj.value)
            }
        
        </script>    
{% endblock %}