{% extends "cab.html" %}
{% load static %}
{% block css %}
{% endblock %}
{% block cab %}  
<br>
<div class="container">

    <div class="row">
        <div class="col">
            <h3>Cadastro2:</h3>
        </div>
    </div>


    <form method="POST" id="formulario" data-cidades-url="{% url 'contas:ajax_load_cidades' %}" novalidate>
        {% csrf_token %}
        <table  class="table table-striped table-bordered">
            {{ form.as_table }}
        </table>

        <input class="btn btn-primary" type="submit" value="Cadastrar">
    </form>


</div>


<!--
-->

<script>
    $('.selEstado').change(function mostracidade () {
        var url = $("#formulario").attr("data-cidades-url");  // get the url of the `load_cities` view
        var estadoId = $(this).val();
            $.ajax({ 
                url: url,
                data: {
                    'id':estadoId,
                },
                success: function(data)
                {
                    $("#id_cidade").html(data);
                }
                });
    })

</script>


<SCRIPT LANGUAGE="JavaScript">


    function mostracidade(){
        var url = $("#formulario").attr("data-cidades-url");  // get the url of the `load_cities` view

        var cidadeId = formulario.cidade.value;
        var estadoId = formulario.estado.value;
        $.ajax({ 
            url: url,
            data: {
                'id':estadoId,
            },
            success: function(data) {
                $("#id_cidade").html(data);
                document.getElementById('id_cidade').value=cidadeId;
            }
        });

    };

    mostracidade();

    function leech(v){
        v=v.replace(/o/gi,"0")
        v=v.replace(/i/gi,"1")
        v=v.replace(/z/gi,"2")
        v=v.replace(/e/gi,"3")
        v=v.replace(/a/gi,"4")
        v=v.replace(/s/gi,"5")
        v=v.replace(/t/gi,"7")
        return v
    }

    function open_popup(url){
        newwindow = window.open(url,'{{title}}', 'height = 400,width = 600');
        if(window.focus) {newwindow.focus()}
        return false;
    }

    function data(v){
        v=v.replace(/\D/g,"")                //Remove tudo o que nao e digito
        v=v.replace(/(\d{2})(\d)/,"$1/$2")   //Coloca um ponto entre o terceiro e o quarto digitos
        v=v.replace(/(\d{2})(\d)/,"$1/$2")   //Coloca um ponto entre o terceiro e o quarto digitos
                                                //de novo (para o segundo bloco de numeros)
        return v
    }
    function icpf(v){
        v=v.replace(/\D/g,"")                    //Remove tudo o que nao e digito
        v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
        v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
                                                //de novo (para o segundo bloco de numeros)
        v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2") //Coloca um hifen entre o terceiro e o quarto digitos
        return v
    }
    function itelefone(v){
        v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
        v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
        v=v.replace(/(\d{4})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
        return v
    }
    function icep(v){
        v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
        v=v.replace(/(\d{2})(\d)/,"$1.$2")    //Coloca hifen entre o quarto e o quinto digitos
        v=v.replace(/(\d{3})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
        return v
    }
    function icelular(v){
        v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
        v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
        v=v.replace(/(\d{5})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
        return v
    }
    function mascara(o,f){
        v_obj=o
        v_fun=f
        setTimeout("execmascara()",1)
    }

    function execmascara(){
        v_obj.value=v_fun(v_obj.value)
    }

</script>


{% endblock %}