{% extends 'registration/head2.html' %}
{% block conteudo %}  
{% load static %}
<link rel="preconnect" href="https://www.google.com">
<link rel="preconnect" href="https://www.gstatic.com" crossorigin> 
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>        
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

                    <h2>CADASTRO DE USUÁRIO</h2>                    
                    <form method="POST" id="formulario" data-estados-url="{% url 'contas:ajax_load_estados' %}" data-cidades-url="{% url 'contas:ajax_load_cidades' %}" novalidate>
                        {% csrf_token %}
                        
                        <div class="form-row">
                            <!-- Nome !-->
                            <div class="form-group col-md-3">    
                                <label for="id_nome" class="w-auto mr-5">Nome:</label>                                                                     
                                {{form.nome}}       
                                <div class="invalid-feedback">
                                    {{form.errors.nome}}
                                </div> 
                            </div>

                            <!-- CPF !-->
                            <div class="form-group col-md-2">   
                                <label for="id_cpf" class="w-auto mr-5">CPF:</label>                                                                     
                                {{form.cpf}}           
                                <div class="invalid-feedback">
                                    {{form.errors.cpf}}
                                </div> 
                            </div>

                            <!-- EMAIL !-->
                            <div class="form-group col-md-3"> 
                                <label for="id_email" class="w-auto mr-5">Email:</label>                                                                     
                                {{form.email}}
                                <div class="invalid-feedback">
                                    {{form.errors.email}}
                                </div> 
                            </div>

                            <!-- Celular !-->
                            <div class="form-group col-md-2"> 
                                <label for="id_celular" class="w-auto mr-5">Celular:</label>                                                                     
                                {{form.celular}}
                                <div class="invalid-feedback">
                                    {{form.errors.celular}}
                                </div> 
                            </div>
                            <div class="form-group col-md-2"> 
                                <label for="id_telefone" class="w-auto mr-5">Telefone:</label>                                                                     
                                {{form.telefone}}
                                <div class="invalid-feedback">
                                    {{form.errors.telefone}}
                                </div> 
                            </div>
                        </div>
                        <div class="form-row">                            
                        
                            <div class="form-group col-md-2"> 
                                <label for="id_estado">Estado de origem:</label>
                                <select class="form-control {%if form.errors.estado_origem %}is-invalid{% endif %}" onblur="validar(event)" onchange="mostracidade(event)" name="estado" class="selEstado" required id="id_estado">
                                    <option value="" {%if estado_ == '' %}selected{% endif %}></option>
                                    {% for estado in estados %}
                                    <option value="{{ estado.id }}" {% if estado.nome == estado_.nome %}selected{% endif %}>{{ estado.nome }}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    {{form.errors.estado_origem}}
                                </div>
                            </div>
                            <!-- Cidade -->
                            <div class="form-group col-md-4"> 
                                <label for="id_cidade">Cidade de origem:</label>
                                <select class="form-control {%if form.errors.cidade_origem %}is-invalid{% endif %}" onblur="validar(event)" name="cidade_origem" required id="id_cidade">
                                    <option value="{{cidade.id}}" selected>{{cidade.nome}}</option>              
                                </select>
                                <div class="invalid-feedback">
                                    {{form.errors.cidade_origem}}
                                </div>
                            </div>  
                            
                            <div class="form-group col-md-2">                             
                                <label for="id_senha">Senha:</label>
                                <input class="form-control {% if not form.errors.senha %}is-invalid{% endif %}" onblur="validar(event)" type="password" name="senha" required id="id_senha">
                            </div>
                            
                            <div class="form-group col-md-2">                             
                                <label for="id_senha_confirma">Confirme senha:</label>
                                <input class="form-control {% if not form.errors.senha %}is-invalid{% endif %}" onblur="validar(event)" type="password" name="senha_confirma" required id="id_senha_confirma">
                                <div class="invalid-feedback">
                                    {{form.errors.senha}}
                                </div> 
                            </div>
                        </div>
                        <div class="form-row d-flex flex-column">  
                            
                            <div class="d-flex flex-wrap">
                                <div class="h-captcha m-auto" data-sitekey="{{hCAPTCHA}}"></div>                               
                            </div>  
                        <button class="btn btn-primary" type="submit">
                            Cadastrar
                        </button>

                    </form>
                    <a href="{% url 'login' %}">Voltar</a>                                          
                
                                    <script>
                    $('.selEstado').change(function mostracidade () {
                        var url = $("#formulario").attr("data-cidades-url");  // get the url of the `load_cities` view
                        var estadoId = $(this).val();
                            $.ajax({ 
                                url: url,
                                data: {
                                    'id':estadoId,
                                },
                                success: function(data)
                                {
                                    $("#id_cidade").html(data);
                                }
                                });
                    })
                
                </script>
                {% endblock %}