{% extends 'registration/head2.html' %}
{% block conteudo %}  
{% load static %}
<link rel="preconnect" href="https://www.google.com">
<link rel="preconnect" href="https://www.gstatic.com" crossorigin> 
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>        
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
                    <h2>CADASTRO DE USUÁRIO</h2>                    
                    <form method="POST" id="formulario" data-estados-url="{% url 'contas:ajax_load_estados' %}" data-cidades-url="{% url 'contas:ajax_load_cidades' %}" novalidate>
                        {% csrf_token %}
                        {% if robo %}
                            <div class="row px-2">
                                <div class="col d-flex bg-danger  px-5 py-2 rounded mb-3">
                                    <div class="mx-auto text-white ">
                                        Não aceitamos robôs por aqui.
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        <div class="form-row">
                            <div class="form-group col-md-3">            
                                <label for="id_nome">Nome:</label>
                                <input class="form-control {% if not validations.nome.state %}is-invalid{% endif %}" onblur="validar(event)" type="text" name="nome" maxlength="60" required id="id_nome" value="{{nome}}">
                                <div class="invalid-feedback">
                                    {{validations.nome.msg}}
                                </div> 
                            </div>
                            <div class="form-group col-md-2">              
                                <label for="id_cpf">CPF:</label>
                                <input class="form-control {% if not validations.cpf.state %}is-invalid{% endif %}" onblur="validar(event)" type="text" name="cpf" onkeydown="mascara(this,icpf)" maxlength="14" required id="id_cpf" value="{{cpf}}">            
                                <div class="invalid-feedback">
                                    {{validations.cpf.msg}}
                                </div> 
                            </div>
                            <div class="form-group col-md-3"> 
                                <label for="id_email">Email:</label>
                                <input class="form-control {% if not validations.email.state %}is-invalid{% endif %}" onblur="validar(event)" type="text" name="email" maxlength="200" required id="id_email" value="{{email}}">
                                <div class="invalid-feedback">
                                    {{validations.email.msg}}
                                </div> 
                            </div>
                            <div class="form-group col-md-2"> 
                                <label for="id_celular">Celular:</label>
                                <input class="form-control {% if not validations.celular.state %}is-invalid{% endif %}" onblur="validar(event)" type="text" name="celular" onkeydown="mascara(this,icelular)" onload="mascara(this,icelular)" value="{{celular}}"
                                        maxlength="15" required id="id_celular">
                                <div class="invalid-feedback">
                                    {{validations.celular.msg}}
                                </div> 
                            </div>
                            <div class="form-group col-md-2"> 
                                <label for="id_telefone">Telefone:</label>
                                <input class="form-control {% if not validations.telefone.state %}is-invalid{% endif %}" onblur="validar(event)" type="text" name="telefone" onkeydown="mascara(this,itelefone)" onload="mascara(this,itelefone)"
                                        value="{{telefone}}" maxlength="14" id="id_telefone">
                                <div class="invalid-feedback">
                                    {{validations.telefone.msg}}
                                </div> 
                            </div>
                        </div>
                        <div class="form-row">                            
                        
                            <div class="form-group col-md-2"> 
                                <label for="id_estado">Estado:</label>
                                <select class="form-control {% if not validations.estado.state %}is-invalid{% endif %}" onchange="mostracidade(event)" name="estado" class="selEstado" required id="id_estado">
                                    <option value="" {%if estado_ == '' %}selected{% endif %}></option>
                                    {% for estado in estados %}
                                    <option value="{{ estado.id }}" {% if estado.nome == estado_.nome %}selected{% endif %}>{{ estado.nome }}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    {{validations.estado.msg}}
                                </div> 
                            </div>
                            <div class="form-group col-md-4"> 
                                <label for="id_cidade">Cidade:</label>
                                <select class="form-control {% if not validations.cidade.state %}is-invalid{% endif %}" name="cidade" required id="id_cidade">
                                    <option value="{{cidade.id}}" selected>{{cidade.nome}}</option>
                                </select>
                                <div class="invalid-feedback">
                                    {{validations.cidade.msg}}
                                </div> 
                            </div>
                            <div class="form-group col-md-2">                             
                                <label for="id_senha">Senha:</label>
                                <input class="form-control {% if not validations.senha.state %}is-invalid{% endif %}" onblur="validar(event)" type="password" name="senha" required id="id_senha">
                            </div>
                            <div class="form-group col-md-2">                             
                                <label for="id_senha_confirma">Confirme senha:</label>
                                <input class="form-control {% if not validations.senha.state %}is-invalid{% endif %}" onblur="validar(event)" type="password" name="senha_confirma" required id="id_senha_confirma">
                                <div class="invalid-feedback">
                                    {{validations.senha.msg}}
                                </div> 
                            </div>
                        </div>
                        <div class="form-row d-flex flex-column">  
                            
                            <div class="d-flex flex-wrap">
                                <!-- <div class="mx-auto my-3">
                                    <a href="{% url 'social:begin' 'facebook' %}" style="cursor: pointer;width: 300px; height: 77px; background-color: blue; border-color: blue; color: white; font-size: 12pt; font-weight: 700;" class="btn btn-primary d-flex pr-4">
                                        <i class="fab fa-2x fa-facebook mr-3 m-auto"></i><span class="m-auto">Cadastrar com Facebook</span>
                                    </a>
                                </div>
                                <div class="mx-auto my-3">
                                    <a href="{% url 'social:begin' 'google-oauth2' %}" style="cursor: pointer;width: 300px; height: 77px; background-color: rgb(255, 255, 255); border-color: rgba(0, 0, 0, 0.384); color: rgb(37, 37, 37); font-size: 12pt; font-weight: 700;" class="btn btn-primary d-flex pr-4">
                                        <img style="margin: auto; height: 60px;" src="{% static 'images/google.jpg' %}" alt=""><span class="m-auto">Cadastrar com Google</span>
                                    </a>
                                </div> -->
                                <div class="h-captcha m-auto" data-sitekey="{{hCAPTCHA}}"></div>                               
                            </div>                        
                        </table>    
                        <button class="btn btn-primary" type="submit">
                            Cadastrar
                        </button>

                    </form>
                    <a href="{% url 'login' %}">Voltar</a>                                          
                </script>                  
                {% endblock %}