{% extends "template.html" %}
{% load static %}
{% block css %}
{% endblock %}
{% block cab %}            
            <div id="main" class="row w-100">
                <div class="container mt-5 pt-5">
                    <div class="row">
                        <div class="col">
                            <h3 class="uppercase">CADASTRAR - GUIA DE TURISMO RECEPTIVO</h3>
                        </div>
                
                        <div class="col-3 text-right">
                            <a href="{% url 'guias:guias' %}" class="btn btn-danger" role="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 mr-1 bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                </svg>
                                CANCELAR
                            </a>                            
                        </div>
                        
                    </div>                                    
                    <form method="POST" class="bg-light mb-5 py-5 rounded border" id="formulario">
                        {% csrf_token %}                                                                                                                   
                                <div class="form-row mt-4 px-3 justify-content-center py-3">                                    
                                    <div class="form-group col-md-3 d-flex flex-column">                        
                                        <label for="id_nome">Nome do Guia:</label>
                                        <input class="form-control {%if not validation.nome.state %}is-invalid{% endif %}" onblur="validar(event)" type="text" name="nome" maxlength="120" required id="nome" value="{{form.nome}}">
                                        <div class="invalid-feedback">
                                            {{ validation.nome.msg }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 d-flex flex-column">                        
                                        <label for="cadastur">Cadastur do Guia:</label>
                                            <input id="cadastur" class="form-control {%if not validation.cadastur.state %}is-invalid{% endif %}" onblur="validar(event)" type="text" name="cadastur" maxlength="14" required value="{{form.cadastur}}">
                                            <div class="invalid-feedback">
                                                {{validation.cadastur.msg}}
                                            </div>
                                    </div>
                                    <div class="form-group col-md-2 d-flex flex-column">
                                        <label for="validade" class="w-auto mr-5">Val. Cadastur:</label>                                                                     
                                        <input class="form-control {%if not validation.validade.state %}is-invalid{% endif %}" type="date" id="validade" name="validade" value="{{form.validade}}">
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>                                          
                                    <div class="form-group col-md-2 d-flex flex-column">                        
                                        <label for="id_telefone">Celular:</label>
                                        <input class="form-control {%if not validation.telefone.state %}is-invalid{% endif %}" onkeydown="mascara(this,itelefone)" onblur="validar(event)" type="text" name="telefone" required id="telefone" value="{{form.telefone}}">
                                        <div class="invalid-feedback">
                                          {{validation.telefone.msg}}
                                        </div>
                                    </div> 
                                    <div class="form-group col-md-3 d-flex flex-column">                        
                                        <label for="email">Email:</label>
                                        <input class="form-control {%if not validation.email.state %}is-invalid{% endif %}" onblur="validar(event)" type="email" name="email" required id="email" value="{{form.email}}">
                                        <div class="invalid-feedback">
                                            {{validation.email.msg}}                                 
                                        </div>
                                    </div>           
                                </div>  
                                <div class="form-row mt-4 px-3 justify-content-center py-0">                                    
                                    <div class="form-group col-md-5 d-flex flex-column">                        
                                        <label for="categorias">Categoria:</label>
                                        <select name="categorias" id="categorias" multiple>
                                            {% for categoria in categorias %}
                                            <option value="{{categoria}}" {%if categoria in categorias_selecionados %}selected{% endif %}>{{categoria}}</option>
                                            {% endfor %}                                                                                    
                                        </select>
                                        <small id="emailHelp" class="form-text text-muted">Pressione “Control”, ou “Command” no Mac, para selecionar mais de um.</small>
                                        <div class="invalid-feedback">

                                        </div>
                                    </div>     
                                    <div class="form-group col-md-4 d-flex flex-column">                        
                                        <label for="segmentos">Segmento de Atuação:</label>
                                        <select name="segmentos" id="segmentos" multiple>
                                            {% for segmento in segmentos %}
                                            <option value="{{segmento}}" {%if segmento in segmentos_selecionados %}selected{% endif %}>{{segmento}}</option>
                                            {% endfor %}                                                                                    
                                        </select>
                                        <small id="emailHelp" class="form-text text-muted">Pressione “Control”, ou “Command” no Mac, para selecionar mais de um.</small>
                                        <div class="invalid-feedback">
                                                                                      
                                        </div>
                                    </div>  
                                    <div class="form-group col-md-3 d-flex flex-column">                        
                                        <label for="idiomas">Idiomas:</label>
                                        <select name="idiomas" id="idiomas" multiple>
                                            {% for idioma in idiomas %}
                                            <option value="{{idioma}}" {%if idioma in idiomas_selecionados %}selected{% endif %}>{{idioma}}</option>
                                            {% endfor %}                                                                                 
                                        </select>
                                        <small id="emailHelp" class="form-text text-muted">Pressione “Control”, ou “Command” no Mac, para selecionar mais de um.</small>
                                        <div class="invalid-feedback">
                                                                                      
                                        </div>
                                    </div>  
                                    <div class="form-group col-md-3 d-flex flex-column">                        
                                        <label for="instagram">Instagram:</label>
                                        <input class="form-control {%if validation.quant_passageiros.state %}is-invalid{% endif %}" onblur="validar(event)" type="text" name="instagram" id="instagram" value="">
                                        <div class="invalid-feedback">
                                                                                      
                                        </div>
                                    </div> 
                                    <div class="form-group col-md-3 d-flex flex-column">                        
                                        <label for="facebook">Facebook:</label>
                                        <input class="form-control {%if validation.quant_passageiros.state %}is-invalid{% endif %}" onblur="validar(event)" type="text" name="facebook" id="facebook" value="">
                                        <div class="invalid-feedback">
                                                                                      
                                        </div>
                                    </div>   
                                    <div class="form-group col-md-3 px-4 d-flex flex-column">                        
                                        <label for="site">Site:</label>
                                        <input class="form-control {%if validation.quant_passageiros.state %}is-invalid{% endif %}" onblur="validar(event)" type="text" name="site" id="site" value="">
                                        <div class="invalid-feedback">
                                                                                      
                                        </div>
                                    </div>                                   
                                </div>
                                <div class="form-row mt-4 justify-content-center py-3">
                                    <div class="form-group col-md-3 d-flex flex-column">                       
                                        <input class="btn btn-primary" type="submit" value="Cadastrar">
                                    </div>
                                </div>
                    </form>
                
                
                </div>

                <SCRIPT LANGUAGE="JavaScript">  
                
                    function leech(v){
                        v=v.replace(/o/gi,"0")
                        v=v.replace(/i/gi,"1")
                        v=v.replace(/z/gi,"2")
                        v=v.replace(/e/gi,"3")
                        v=v.replace(/a/gi,"4")
                        v=v.replace(/s/gi,"5")
                        v=v.replace(/t/gi,"7")
                        return v
                    }

                    function data(v){
                        v=v.replace(/\D/g,"")                //Remove tudo o que nao e digito
                        v=v.replace(/(\d{2})(\d)/,"$1/$2")   //Coloca um ponto entre o terceiro e o quarto digitos
                        v=v.replace(/(\d{2})(\d)/,"$1/$2")   //Coloca um ponto entre o terceiro e o quarto digitos
                                                                //de novo (para o segundo bloco de numeros)
                        return v
                    }
                    function icpf(v){
                        v=v.replace(/\D/g,"")                    //Remove tudo o que nao e digito
                        v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
                        v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
                                                                //de novo (para o segundo bloco de numeros)
                        v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2") //Coloca um hifen entre o terceiro e o quarto digitos
                        return v
                    }
                    function icnpj(v){
                        v=v.replace(/\D/g,"")                    //Remove tudo o que nao e digito
                        v=v.replace(/(\d{2})(\d)/,"$1.$2")       //Coloca um ponto entre o segundo e terceiro digitos
                        v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o quinto e o sexto digitos
                        v=v.replace(/(\d{3})(\d)/,"$1/$2")       //Coloca um ponto entre o quinto e o sexto digitos
                        v=v.replace(/(\d{4})(\d)/,"$1-$2")       //Coloca um ponto entre o quinto e o sexto digitos
                        // v=v.replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, "$1.$2.$3/$4-$5")
                        return v
                    }
                    function itelefone(v){
                        v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
                        v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
                        v=v.replace(/(\d{4})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
                        return v
                    }
                    function icep(v){
                        v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
                        v=v.replace(/(\d{2})(\d)/,"$1.$2")    //Coloca hifen entre o quarto e o quinto digitos
                        v=v.replace(/(\d{3})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
                        return v
                    }
                    function icelular(v){
                        v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
                        v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
                        v=v.replace(/(\d{5})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
                        return v
                    }
                    function mascara(o,f){
                        v_obj=o
                        v_fun=f
                        setTimeout("execmascara()",1)
                    }
                
                    function execmascara(){
                        v_obj.value=v_fun(v_obj.value)
                    }

                    function validar(event){
                        event.target.classList.remove("is-invalid");
                    }
                    window.onload = function() {                    
                        document.getElementById('telefone').value=document.getElementById('telefone').value.replace(/^(\d{1})(\d{1})(\d{4})(\d{4})/, "($1$2)$3-$4")                        
                    };
                
                </script>                
            </div>                   
        </div>      
{% endblock %}