{% extends "template.html" %}

{% load static %}

{% block cab %}
<br>
{% include 'registration/for_mobile/change_password.html' %}
<div id="mobile_hidden" class="container">
    <div class="row">
        <div class="col">            
            <form method="post">
                <h3>Alteração de Senha</h3>
                <table>
                    {% csrf_token %}
                    <div class="d-flex flex-column col-4 pt-3">
                        <label for="id_old_password">Senha antiga:</label>
                        <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
                    </div>
                    <div class="d-flex flex-column col-4">
                        <label for="id_new_password1">Nova senha:</label>
                        <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                    </div>
                    <div class="d-flex flex-column col-4">
                        <label for="id_new_password2">Confirmação da nova senha:</label>
                        <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                    </div>
                    <br>
                </table>
                <br>
                <input class="btn btn-primary ml-3" type="submit" value="Alterar Senha">

            </form>

        </div>
        <div id="sobrepor" class="col">
            <span class="helptext">
                <h4>Requisitos para alteração de senha:</h4>
                        <ul><li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                            <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                            <li>Sua senha não pode ser uma senha comumente utilizada.</li>
                            <li>Sua senha não pode ser inteiramente numérica.</li>
                        </ul>
                    </span>
        </div>
    </div>    
</div>
{% endblock %}