{% extends "cab.html" %}

{% load static %}

{% block cab %}
<br>
<div class="container">
    <div class="row">
        <div class="col-xs">

            <h3>Alteração de Senha</h3>

            <form method="post">

                <table>
                    {% csrf_token %}
                    {{ form }}
                    <br>
                <table>
                <br>
                <input class="btn btn-primary" type="submit" value="Alterar Senha">

            </form>

        </div>

    </div>
</div>
{% endblock %}