<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <!-- Meta tags Obrigatórias -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- CUSTOM CSS -->
        <link href="{% static 'css/jlb.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
    
        <title>Turismo Nova Friburgo</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <SCRIPT LANGUAGE="JavaScript">
        {% if messages %}
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        {% endif %}
    </script>

    <body class="body">
        <a href="{% url 'KPIs:usuarios' %}" id="float-right-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
              </svg>
             <span class="my-auto ml-2">
                DADOS ABERTOS
             </span>
        </a>
        <style>
            #float-right-button{
                box-shadow: 5px 5px 5px rgba(80, 80, 80, 0.678);    
                position: fixed;
                display: flex;
                top: 15px;
                right: 20px;
                padding: 5px 10px;
                background-color: white;
                color: black;
                border-radius: 4px;
                font-size: 10pt;
                font-weight: bolder;
            }
        </style>
        <div class="container-fluid pb-4">  
            <div id="header" class="row">
                <!-- <div class="col">
                    <img class="img-fluid" src="/static/logopmnf.png" alt="Logo Pmnf" title="Logo Pmnf"/>
                </div> -->
                <div class="col">
                    <img class="img-fluid" src="{% static 'images/logo.png' %}" alt="Logo Pmnf Turismo" title="Logo Pmnf Turismo"/>
                </div>
            </div>          
            {% block conteudo %}{% endblock %}
        </div>    
        <!-- JavaScript (Opcional) -->
        <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>