{% extends "registration/head.html" %}

{% load static %}

{% block conteudo %}
<div id="login-screen">    
    <h2>LOGIN</h2>
    <form action="." method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button class="btn btn-primary" type="submit">
            Entrar
        </button>

    </form>
    <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
    <a href="{% url 'contas:cadastrar' %}">Quero me cadastrar</a>
</div>
{% endblock %}