{% extends 'registration/head.html' %}

{% block conteudo %}
<div id="login-screen">   
	<!--Reset Password-->  	 	

            {% if form.errors %}
            <div class="form-group p-3 bg-danger text-white rounded">
            Algo de errado ocorreu. Tente novamente e verifique se você digitou um email valido.
            </div>
            {% endif %}
			<!--Password reset sent-->
			<div class="container p-5">
			<h5 class="font-weight-bold mt-3">Email enviado com instruções para troca de senha.</h5>
				<hr>
				<p>Enviaremos instruções para troca da senha, caso uma conta exista para esse e-mail. Você receberá em breve.<br>Caso não receba, confirme o e-mail informado, ou cheque a caixa de spam.</p>
		</div>
		<a href="{% url 'login' %}">Voltar</a> 
</div>
{% endblock %}