{% extends 'head.html' %}

{% block head %}

	{% load crispy_forms_tags %}

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Gerar Nova Senha</h2>
		<hr>
		<p>Esqueceu sua senha? Entre com seu e-mail abaixo, para enviarmos instruções para criar nova senha.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
            <button class="btn brn-primary" type="submit">Enviar E-Mail</button>
        </form>
    </div>
{% endblock %}