{% extends 'registration/head.html' %}

{% block conteudo %}

	
<div id="login-screen">   
	<!--Reset Password-->  	 	

            {% if form.errors %}
            <div class="form-group p-3 mb-2 bg-danger text-white rounded">
            Por favor, entre com um usuário e senha corretos. Note que ambos os campos diferenciam maiúsculas e minúsculas.                    
            </div>
            {% endif %}
            <h2 class="font-weight-bold mt-3">Gerar Nova Senha</h2>
            <hr>
            <p class="text-justify">Esqueceu sua senha? Entre com seu e-mail abaixo, para enviarmos instruções para criar nova senha.</p>
            <form method="POST">
                {% csrf_token %}
                {{ password_reset_form }}
                <button class="btn brn-primary" type="submit">Enviar E-Mail</button>
        </form>   
        <a href="{% url 'login' %}">Voltar</a> 
</div>
{% endblock %}